
.vs/HelperLibrary/v15/.suo
.vs/HelperLibrary/v15/Server/sqlite3/db.lock
.vs/HelperLibrary/v15/.suo
*.ide
.vs/HelperLibrary/v15/Server/sqlite3/storage.ide-wal
.vs/HelperLibrary/v15/Server/sqlite3/storage.ide-shm
.vs/HelperLibrary/v15/Server/sqlite3/storage.ide
.vs/HelperLibrary/v15/.suo
.vs/HelperLibrary/DesignTimeBuild/.dtbcache
.vs/HelperLibrary/DesignTimeBuild/.dtbcache
.vs/HelperLibrary/v15/.suo
.vs/HelperLibrary/DesignTimeBuild/.dtbcache
.vs/HelperLibrary/v15/Server/sqlite3/storage.ide
.vs/HelperLibrary/v15/Server/sqlite3/storage.ide-shm
.vs/HelperLibrary/v15/Server/sqlite3/storage.ide-wal
.vs/HelperLibrary/DesignTimeBuild/.dtbcache
